#kecamatan-wrapper {
    position: absolute;
    z-index: 1000;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}

.kecamatan-select {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}

.kecamatan-select:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
}